.banner {
  position: relative;
  height: 23rem;
  width: 100vw;
  /* border: 2px solid red; */
  background-color: rgba(21, 50, 67, .60);
}

.banner::before {
  position: absolute;
  content: '';
  background: url(../../images/background-images/top-bg.png) no-repeat center center/cover;
  width: 100vw;
  height: 27.1rem;
  z-index: -1;
  filter: brightness(19%);
}

.banner .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 63%;
  margin: 0 auto;
  /* border: 2px solid chartreuse; */
}

.banner .paragraphs {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .content p:first-child {
  /* transform: translate(15rem); */
  font-family: "Barlow", sans-serif;
  font-size: 2.3rem;
  font-weight: 370;
  letter-spacing: 0.6rem;
  color: #FA7021;
  /* margin-bottom: -.8rem; */
}

.banner .content p:nth-child(2) {
  font-family: "Kanit", system-ui;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.11rem;
  margin-bottom: -1rem;
}

.banner .content p:nth-child(3) {
  font-family: "Fredoka", sans-serif;
  font-size: 1.8rem;
  font-weight: 370;
  letter-spacing: 0.44rem;
}

@media (max-width: 1000px) {
  .banner .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 82%;
    /* border: 2px solid chartreuse; */
  }

  .banner::before {
    position: absolute;
    content: '';
    background: url(../../images/background-images/top-bg.png) no-repeat center center/cover;
    width: 100vw;
    height: 27.1rem;
    z-index: -1;
    filter: brightness(19%);
  }
}

@media (max-width: 516px) {
  .banner {
    position: relative;
    height: 23rem;
    /* border: 2px solid red; */
  }

  .banner::before {
    position: absolute;
    content: '';
    background: url(../../images/background-images/top-bg.png) no-repeat center center/cover;
    width: 100vw;
    height: 27.1rem;
    z-index: -1;
    filter: brightness(19%);
  }

  .banner .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* border: 2px solid chartreuse; */
  }

  .banner .content p:first-child {
    font-family: "Fredoka", sans-serif;
    font-size: 1.7rem;
    font-weight: 370;
    letter-spacing: 0.6rem;
    color: #F2B600;
    margin-top: -1rem;
    margin-bottom: -.4rem;
  }
  
  .banner .content p:nth-child(2) {
    font-family: "Kanit", system-ui;
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin-bottom: -.4rem;
  }
  
  .banner .content p:nth-child(3) {
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    font-weight: 370;
    letter-spacing: 0.30rem;
  }
}

@media (max-width: 400px) {
  .banner .content p:first-child {
    font-family: "Fredoka", sans-serif;
    font-size: 1.3rem;
    font-weight: 370;
    letter-spacing: 0.6rem;
    color: #F2B600;
    margin-top: -1rem;
    margin-bottom: -.4rem;
  }
  
  .banner .content p:nth-child(2) {
    font-family: "Kanit", system-ui;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin-bottom: -.4rem;
  }
  
  .banner .content p:nth-child(3) {
    font-family: "Fredoka", sans-serif;
    font-size: 1.1rem;
    font-weight: 370;
    letter-spacing: 0.30rem;
  }
}