.contact-us {
  position: relative;
  height: 9.7rem;
  width: 100vw;
  /* border: 2px solid red; */
}

.contact-us::before {
  position: absolute;
  content: '';
  background: url(../../images/background-images/bottom-bg.jpg) no-repeat center center/cover;
  /* opacity: 0.1; */
  width: 100vw;
  height: 9.7rem;
  z-index: -1;
}

.contact-us .gradient-background {
  width: 100vw;
  height: 9.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(21, 50, 67, .95);

  /* border: 2px solid red; */
}

.contact-us .content {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.contact-us .wpp {
  display: flex;
  align-items: center;
  gap: .35rem;
}

.contact-us span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .contact-us {
    top: 22.6rem;
  }
}

@media (max-width: 820px) {
    .contact-us .content {
    flex-direction: column;
  }

  .contact-us .wpp {
    display: flex;
    align-items: center;
    gap: .35rem;
  }
}

@media (max-width: 580px) {
  .contact-us span {
    font-size: 1.1rem;
  }
}

@media (max-width: 516px) {
  .contact-us {
    top: 67.6rem;
  }

  .contact-us span {
    font-size: 1.1rem;
  }
}

@media (max-width: 499px) {
  .contact-us .content {
    width: 80vw;
  }

  .contact-us span {
    font-size: 1.1rem;
  }
}