header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 4.8rem;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.667);
  z-index: 999;
}

.background-sobre::before {
    position: absolute;
    content: '';
    background: url(../../images/background-images/our-mission.png) no-repeat center center/cover;
    width: 100vw;
    height: 7.5rem;
    z-index: -1;
    filter: brightness(40%);
}

header a {
  transition: .3s;
}

header a:hover {
  color: #4888d6;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16rem;
  width: 100%;
  max-width: 61.3rem;
  height: 100%;
  /* border: 2px solid; */
}

header .header-logo {
  width: 15rem;
  display: flex;
}

header .nav-content {
  display: flex;
  gap: 1.7rem;
}

header .menu {
  display: none;
  color: #fff;
}

header .menu-icon {
  display: none;
}

header .hide {
  right: -100%;
}

.centro-oeste{
  margin-right: 2.5rem;
  font-size: .5rem;
}

@media (max-width: 730px) {

  header .header-content {
    display: flex;
    align-items: center;
    margin: 0 5rem;
    
  }

  header .nav-content {
    display: none;
  }

  header .menu-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 3;
  }

  header .menu {
    display: block;
    font-size: 1.4rem;
  }

  header .menu-icon {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    margin-top: 0.28rem;
    color: #fff;
    cursor: pointer;
  }

  header .close-menu-icon {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    margin-top: 0.28rem;
    color: #fff;
    cursor: pointer;
  }

  header .header-logo {
    margin: 0;
    z-index: 0;
  }

  header .dropdown-menu-container {
    background-color: #000000;
    position: fixed;
    right: 0;
    width: 292px;
    height: 200vh;
    transition: .3s ease-out;
    z-index: 1;
  }

  header .dropdown-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    font-size: 1.2rem;
    font-weight: 600;
    right: 7rem;
    top: 100px;
    z-index: 2;
  }

  header .menu-container-open {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 3.5rem;
    right: 4rem;
    top: 40px;
    border-bottom: 2px solid;
    z-index: 2;
    transition: .3s ease-in-out;
  }
}

@media (max-width: 516px) {
  header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 7.5rem;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, 0.667);
    transition: .3s ease-in;
    z-index: 999;
  }
  
  header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem 0 7.5rem;
    width: 100vw;
    max-width: 70rem;
    height: 100%;
    /* border: 2px solid; */
  }
}