.partners {
  position: relative;
  width: 100vw;
  height: 9.5rem;
  /* border: 2px solid red; */
  color: black;
}

.partners .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  top: .3rem;
}

.partners span {
  position: relative;
  top: 1.4rem;

  font-family: "Fredoka", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(98, 98, 98);

  /* display: flex;
  justify-content: center; */

  /* border: 2px solid red; */
}

.partners .images {
  display: flex;
  gap: 2rem;
  
  /* border: 2px solid red; */
}

@media (max-width: 1000px) {
  .partners {
    top: 22.6rem;
  }
}

@media (max-width: 516px) {
  .partners {
    top: 67.6rem;
  }

  .partners .images {
    display: flex;
    justify-content: center;
    gap: 1rem;

    /* border: 2px solid red; */
  }
}

@media (max-width: 499px) {
  .partners img {
    width: 6.5rem;
  }
}